body {
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  line-height: 1;
  background: -webkit-linear-gradient(left, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
  background: -moz-linear-gradient(to right, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: white;
  border-left: 1px solid black;
  padding: 8px;
  font-size: 2.3em;
  border-style: double;
  border-color:red;
}

 .jumbotron {
  text-align: center;
  text-shadow: 10px 5px 2px rgb(44, 3, 3);
  background: -webkit-linear-gradient(left, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
  background: -moz-linear-gradient(to right, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
  color: rgb(235, 43, 43);
 
} 
.time-block{
  text-align: center;
  border-radius: 15px;
 
}

.hour {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size:1.5em;
  text-align:center;  
  border-style: double;
  border-color:red;
  background: -webkit-linear-gradient(left, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
  background: -moz-linear-gradient(to right, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
  color: red;
  padding: 10px;

}
.hour:hover{
  color:white;
}
.past {
  background-color:rgb(40, 59, 99);
  color: white;
}
/* trying to add a hover color of white - doesnt work  */
/* .past :hover{
  background-color:white;
} */
.present {
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  color: white;
}

.future {
  background-color:#39ff14;
  color: white;
}

.saveBtn {
  position: relative; 
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: -webkit-linear-gradient(left, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
  border-style: double;
  border-color:red;
  color: white;
  padding: 2px;
}

.saveBtn i:hover {
  font-size: 50px;
  transition: all .3s ease-in-out;
  color: red;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
